# Include the README
include README.rst
include CHANGELOG.md

# Include the license file
include LICENSE.txt

# Include dep
include requirements.txt

# Include the data files
recursive-include data *
recursive-include ibmc_client *.json

exclude tox.ini
exclude coverage.sh
exclude tests
exclude test-requirements.txt
recursive-exclude tests *
